.content{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 3em;
}

.strenght{
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    background-color: rgb(255 251 236);
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top p, .top1 p {
    color: #d1411e;
    font-size: 25px;
    font-weight: 600;
    margin-left: 2em;
}

.top h1, .top1 h1 {
    font-weight: bold;
    margin-left: 1.5em;
}

.mySwiper{
    width: 50%;
    margin: auto;
    border: 1px solid #bdbbbb;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #bdbbbb;
   /* background-color: rgb(226, 187, 207);*/
}

.swipItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.imgBox{
    margin-bottom: 1em;
}

.feedback{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

@media screen and (max-width: 768px) {

    .top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
    }

    .mySwiper{
        width: 80%;
    }
    
}
