.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 10em;
}

.top, .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}

.bottom{
    margin-top: 2em;
}

.article > h1, .article1 > h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.article > button, .PizzaCard > button {
    background-color: rgb(238, 172, 31);
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 3px 2em;
    margin-top: 1em;
}

.article > button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PizzaCard > button {
    align-self: flex-start;
    margin-left: 1em;
    margin-top: 2em;
}

.red{
    color: rgb(216, 35, 35);
}

.article > p, .article1 > p {
    font-size: 18px;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em;
}

.pizzacontainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 2em;
}

.pizzacontainer > p {
    color: #d1411e;
    font-size: 20px;
    font-weight: 600;
}

.pizzacontainer > h1 {
    font-weight: bold;
}

.wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

.PizzaCard{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #bdbbbb;
    background: lighten(#bdbbbb, 3%);  
    border-radius: 5px;
   /* box-shadow: 2px 2px 2px #bdbbbb;*/
    box-shadow: 0px 2px 0 rgba(189, 187, 187, 0.95), 2px 4px 6px rgba(189, 187, 187, 0.98);
    transition: all 150ms linear;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
}

.PizzaCard:hover{
    background: rgba(240, 238, 238, 0.985);
    box-shadow: 1px 1px 2px rgba(#fff, 0.2);
    transition: all 250ms linear;
}

.PizzaImage{
    -webkit-transform: rotate(15deg) scale(1.2);
	transform: rotate(15deg) scale(1.0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.PizzaImage:hover {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}

.pizzadetail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.title{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-transform: capitalize;
}

.price{
    font-size: 18px;
    font-weight: bold;
    color: #d1411e;
}

.desc{
    width: 90%;
    font-size: 18px;
    color: black;
    text-align: left;
    margin-top: 1em;
}

.price1{
    font-size: 20px;
    font-weight: 600;
    color: #d1411e;
}

.desc1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
}

.sizes{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.choose {
    font-size: 25px;
}

.size{
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.size:nth-child(2) {
    width: 40px;
    height: 40px;
}

.size:last-child {
    width: 50px;
    height: 50px;
}

.number{
    position: absolute;
    top: -5px;
    right: -20px;
    background-color: teal;
    color: white;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 10px;
}

.ingredients{
    display: flex;
    margin-bottom: 30px;
}

.option{
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
}

.checkbox{
    width: 20px;
    height: 20px;
}

.qtty{
    width: 50px;
    height: 30px;
}

.button{
    height: 30px;
    margin-left: 10px;
    background-color: rgb(238, 172, 31);
    text-transform: uppercase;
    border-radius: 50px;
    padding: 10px 2em;
    color: #ffff;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

@media screen and (max-width: 768px) {

    .top, .bottom{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .article, .article1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .cartleft, .cartright{
        width: 100%;
        margin-bottom: 1em;
    }

    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
    }

    .wrapper{
        flex-direction: column;
    }

    .PizzaCard{
        width: 80%;
        margin-top: 1em;
    }

    .ProductContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8em;
    }

    .productleft{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        position: relative;
    }

    .imgContainer{
        display: none;
    }

    .productright{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .sizes{
        width: 80%;
    }
    
}

@media screen and (min-width: 769px) {

    .article{
        width: 40%;
    }

    .article > h1, .article1 > h1 {
        width: 65%;
     }

     .hero{
         background-color: rgb(238, 172, 31);
         width: 35%;
         height: 500px;
         display: flex;
         border-top-left-radius: 50%;
         border-bottom-left-radius: 50%;
     }

    .heroimg{
        position: relative;
        top: 2em;
        right: 15em;
    }

    .ProductContainer{
        height: calc(100vh - 100px);
        display: flex;
        align-items: center;
        margin-top: 6em;
    }

    .productleft{
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .productright{
        flex: 1;
        padding: 20px;
    }

    .imgContainer{
        width: 80%;
        height: 80%;
        position: relative;
    }

    .leftImage{
        display: none;
    }

    .price1{
        margin-top: 4em;
    }

    .sizes{
        width: 40%;
    }
    
}